<div class="main-content">
    <div class="section-content section-content-p30">

        <h4 *ngIf="searchMode; else notSearch">Search Results:</h4>
        <ng-template #notSearch>
            <h4>Category: {{ currentCategoryName }}</h4>
        </ng-template>
        <hr>
        <div class="container-fluid">
            <div class="row">
                <!-- if products empty then display a message -->
                <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    No products found.
                 </div>

                <!-- loop over the collection of products -->
                <div *ngFor="let tempProduct of products" class="col-md-3">

                    <div class="product-box">

                        <a routerLink="/products/{{ tempProduct.id }}">
                            <img src="{{ tempProduct.imageUrl }}" class="img-responsive" alt="product_image">
                        </a>
                        <h1>
                            <a routerLink="/products/{{ tempProduct.id }}">
                                {{ tempProduct.name }}
                            </a>
                        </h1>
                        <div class="price">{{ tempProduct.unitPrice | currency:'USD' }}</div>
                        <a href="#" class="primary-btn">Add to cart</a>
                    </div>

                </div>
            </div>
            <!-- begin footer-->
            <div class="footer-pagination">
                <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">

                    <div class="flex-grow-1 d-flex justify-content-center">
                        <ngb-pagination [(page)]="thePageNumber"
                                        [pageSize]="thePageSize"
                                        [collectionSize]="theTotalElements"
                                        [maxSize]="5"
                                        [boundaryLinks]="true"
                                        (pageChange)="listProducts()">
                        </ngb-pagination>
                    </div>

                    <div class="d-flex align-items-center mt-2 mt-md-0">
                        <span class="me-2">Page Size</span>
                        <select #myPageSelect class="form-select w-auto" (change)="updatePageSize(myPageSelect.value)">
                            <option selected>5</option>
                            <option>10</option>
                            <option>20</option>
                            <option>50</option>
                        </select>
                    </div>

                </div>
             </div>
            <!-- end footer-->
        </div>
    </div>
</div>
